.content
{
	position: relative;
	background-color: pink;
	max-width: 100px;
	margin: 10% auto;
}

.tooltip
{
	color:#333;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	outline: none;
	cursor: pointer;
	position: relative;
	margin: 10% auto;
	text-align: center;
}

.tooltip span
{
	position: absolute;	
	background-color: orange;
	width: 100px;
	padding: 20px;
	z-index: 1;
	left:50%;
	margin-left:60px;
	top:-30px;
	transition:all 0.3s ease;
	opacity: 0;
}

.tooltip span:after
{
	position: absolute;
	border-right:10px solid blue;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	width: 0;
	height: 0;
	content:"";
	left:-10px;
	top:50%;
	margin-top: -10px;
}

.tooltip:hover span 
{
	opacity: 1;
}